:root {
  --border-width: 10px;
  --color-left: rgba(154, 238, 235, 0.72);
  --color-right: rgba(102, 156, 248, 0.16);
  --border-radius: 150px;
}

.App {
  text-align: center;
}

.center-horizontal {
  width: 80%;
  margin: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.wrapper {
  position: relative;
  height: 300px;
  padding: var(--border-width);
}

.left,.right,.top,.bottom {
  position: absolute;
  width: 0;
  height: 0;
}

.left,.right {
  width: var(--border-width);
  height: 100%;
}

.top,.bottom {
  height: var(--border-width);
  width: calc(100% - var(--border-width) - var(--border-width));
  margin: 0 var(--border-width);
  background: linear-gradient(to right, var(--color-left), var(--color-right));
}

.left {
  left: 0;
  top: 0;
  background: var(--color-left);
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.right {
  right: 0;
  top: 0;
  background: var(--color-right);
  border-bottom-right-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.top {
  top: 0;
  left: 0;

}
.bottom {
  bottom: 0;
  left: 0;

}