:root {
  --color-left: rgba(102, 156, 248, 0.16);
  --color-right: rgba(154, 238, 235, 0.72);

  --border-radius: 150px;
  --border-width: 4px;
}

.App {
  text-align: center;
}

.center-horizontal {
  width: 80%;
  margin: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  padding: var(--border-width);
}


.glass-morphism {
  height: 300px;
  width: 100%;
  border-radius: 18px;
  background: linear-gradient(164deg, rgba(13, 8, 27, 0.35) -2.54%, rgba(71, 64, 94, 0.70) 100.24%);
  backdrop-filter: blur(20px);
}

.left,.right,.top,.bottom {
  position: absolute;
  width: 0;
  height: 0;
}

.left,.right {
  width: var(--border-width);
  height: 100%;
}

.top,.bottom {
  height: var(--border-width);
  left: 43px;
  width: calc(100% - 93px);
  margin: 0 var(--border-width);
  background: linear-gradient(to right, var(--color-left), var(--color-right));
}

.left {
  left: 0;
  top: 0;

  svg, svg * {
    stroke: var(--color-left);
  }

}

.right {
  right: 42px;
  top: 0;
  svg, svg * {
    stroke: var(--color-right);
  }
}

.top {
  top: 0;
}
.bottom {
  bottom: 0;
}